<template>
  <div class="home">
    <h1>Plan your trip</h1>

    <div v-if="places.length > 0">
      <p>Itinerary:</p>
      <ul>
        <li v-for="place in places" :key="place.city">
          <router-link :to="`/plan/${place.id}`">{{ place.city }}</router-link>
        </li>
      </ul>
    </div>

    <PlacesSearch :label="label" v-model="selectedPlace" />

    <v-btn v-on:click="click">{{ button }}</v-btn>
  </div>
</template>

<script>
import PlacesSearch from '@/components/PlacesSearch.vue';

export default {
  name: 'Home',
  data: function() {
    return { selectedPlace: {} };
  },
  computed: {
    label: function() {
      if (this.$route.query.next) {
        return 'Where to go next';
      } else {
        return 'Where to go';
      }
    },
    button: function() {
      if (this.$route.query.next) {
        return 'Add New Place';
      } else {
        return 'Start Planning';
      }
    },
    places: function() {
      return this.$store.state.places;
    }
  },
  methods: {
    click: function() {
      this.$router.push({
        name: 'Plan',
        query: {
          city: this.selectedPlace.city,
          lat: this.selectedPlace.lat,
          lon: this.selectedPlace.lon
        }
      });
    }
  },
  components: {
    PlacesSearch
  }
};
</script>
