<template v-model="day">
  <div class="home">
    <PictureBox :query="location.city"></PictureBox>

    <v-btn class="add-new-place-btn" absolute right @click="addPlace"> <v-icon>mdi-plus</v-icon>Add New Place </v-btn>

    <v-stepper vertical v-model="day">
      <template v-for="d in location.days">
        <v-stepper-step :step="d" editable :key="`header-${d}`">
          Day {{ d }}
          <small>Plan your day in {{ location.city }}</small>
        </v-stepper-step>

        <v-stepper-content :step="d" :key="`content-${d}`">
          <FoursquareCards />
        </v-stepper-content>
      </template>

      <v-stepper-step :step="day + 1" editable>
        <v-btn color="primary" @click="addDay">Add new day</v-btn>
      </v-stepper-step>
    </v-stepper>
  </div>
</template>

<style scoped>
.add-new-place-btn {
  z-index: 10;
  top: 10px;
}
</style>

<script>
import PictureBox from '@/components/PictureBox.vue';
import FoursquareCards from '../components/foursquareCards/FoursquareCards';
export default {
  name: 'Plan',
  components: {
    PictureBox,
    FoursquareCards
  },

  data: function() {
    if (!this.$route.params.id) {
      const { city, lat, lon } = this.$route.query;
      const numberOfPlannedDays = this.$store.getters.getNumberOfDays();

      const location = {
        city,
        lat,
        lon,
        days: [numberOfPlannedDays + 1]
      };

      return {
        day: numberOfPlannedDays + 1,
        location
      };
    } else {
      const id = Number(this.$route.params.id);
      const place = this.$store.getters.getPlaceById(id);

      return {
        day: place.days[place.days.length - 1],
        location: place
      };
    }
  },

  methods: {
    addDay: function() {
      const daysInThisLocation = this.location.days.length;
      this.location.days.push(this.location.days[daysInThisLocation - 1] + 1);
    },

    addPlace: function() {
      const location = this.location;

      if (!this.$route.params.id) {
        location.id = this.$store.state.places.length + 1; // TODO use getters. DO not access store directly
        this.$store.commit('addPlace', location);
      } else {
        this.$store.commit('changePlace', location);
      }

      this.$router.push({ name: 'Home', query: { next: true } });
    }
  }
};
</script>
