<template>
  <div>
    <v-chip class="ma-2 image-destination-name">
      {{ query }}
    </v-chip>
    <v-carousel
      cycle
      height="200"
      hide-delimiter-background
      :show-arrows="false"
      hide-delimiters
    >
      <v-carousel-item
        v-for="(image, i) in images"
        :key="i"
        reverse-transition="fade-transition"
        transition="fade-transition"
      >
        <v-img :src="image.urls.regular" height="200"></v-img>
        <v-chip x-small class="ma-2 image-credits" :eager="true">
          Photo by {{ image.user.name }} on Unsplash
        </v-chip>
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PictureBox',

  data: () => ({
    loading: false,
    images: []
  }),

  mounted() {
    this.fetchPicture();
  },

  props: ['query'],

  methods: {
    async fetchPicture() {
      this.loading = true;

      const response = await fetch(`/api/pictures/search/${this.query}`);
      const images = await response.json();
      this.images = images.results;
    }
  }
});
</script>

<style scoped>
.v-carousel .v-window-item {
  position: absolute;
  top: 0;
  width: 100%;
}

.image-credits {
  position: relative;
  z-index: 10;
  top: -30px;
}

.image-destination-name {
  position: absolute;
  top: 0;
  z-index: 10;
}

.preloaded-images {
  height: 0;
}
</style>
