<template>
  <div>
    <v-autocomplete
      :label="label"
      v-model="select"
      :items="items"
      :loading="loading"
      :search-input.sync="search"
      color="grey"
      hide-no-data
      hide-selected
      item-text="description"
      item-value="API"
      placeholder="Type at least 3 characters to search"
      prepend-icon="mdi-database-search"
      return-object
    />
  </div>
</template>

<style scoped></style>

<script lang="ts">
import Vue from 'vue';
import debounce from 'lodash.debounce';

type SearchResult = {
  entityType:
    | 'Municipality'
    | 'MunicipalitySubdivision'
    | 'CountryTertiarySubdivision'
    | 'Neighbourhood';
  position: {
    lat: number;
    lon: number;
  };
  address: {
    municipality: string;
    country: string;
    countryCode: string;
    freeformAddress: string;
  };
};

type Data = {
  loading: boolean;
  count: number;
  model: null;
  entries: SearchResult[];
  search: string;
  fetchPlacesDebounced?: (query: string) => Promise<void>;
  select: unknown;
};

type Methods = {
  fetchPlaces: (query: string) => Promise<void>;
};

type Computed = {
  items: ({ description: string } & SearchResult)[];
};

type Props = {
  label: string;
  selectedPlace: SearchResult | null;
};

const composePlaceName = (place: SearchResult): string =>
  `${place.address.municipality} (${place.address.country})`;

const isSelectedValueSameAsQuery = (
  selectedValue: null | SearchResult,
  query: null | string
) => {
  if (!selectedValue || !query) {
    return false;
  }

  return composePlaceName(selectedValue) === query;
};

export default Vue.extend<Data, Methods, Computed, Props>({
  name: 'PlacesSearch',

  props: {
    label: String,
    selectedPlace: Object
  },

  data: function(): Data {
    return {
      loading: false,
      count: 0,
      model: null,
      entries: [],
      search: '',
      select: null
    };
  },

  computed: {
    items() {
      return this.entries.map((entry: SearchResult) => ({
        description: composePlaceName(entry),
        ...entry
      }));
    }
  },

  methods: {
    async fetchPlaces(query: string) {
      this.loading = true;

      try {
        const response = await fetch(`/api/places/search/${query}`);
        const { results } = (await response.json()) as {
          results: SearchResult[];
        };
        const filteredResults = results.filter(
          result => result.entityType === 'Municipality'
        );

        this.count = filteredResults.length;
        this.entries = filteredResults;
      } catch (error) {
        console.log(error);
      }

      this.loading = false;
    }
  },

  created: function() {
    this.fetchPlacesDebounced = debounce(this.fetchPlaces, 300) as (
      query: string
    ) => Promise<void>;
  },

  watch: {
    search: function(query: string | null) {
      const selectedValue = this.select as SearchResult | null;
      if (
        !query ||
        query.length < 3 ||
        isSelectedValueSameAsQuery(selectedValue, query)
      ) {
        return;
      }

      this.fetchPlacesDebounced && this.fetchPlacesDebounced(this.search);
    },
    select: function(selectedPlace: SearchResult | null) {
      if (!selectedPlace) {
        return;
      }

      this.$emit('input', {
        city: composePlaceName(selectedPlace),
        lat: selectedPlace.position.lat,
        lon: selectedPlace.position.lon
      });
    }
  }
});
</script>
