.plan-bullet {
    flex: 0 0 60px;
}

.plan-item.night {
    background-color: rgba(0, 0, 0, 0.05);
}

.icon {
    width: 20px;
}

.not-paid {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
}

.plan_detail-action_buttons .btn {
    margin-right: 10px;
    margin-top: 10px;
}