<template>
  <v-card color="grey lighten-1" tile outlined>
    <v-img class="white--text align-end" :src="title">
      <v-card-title>{{ title }}</v-card-title>
      <div class="card-overlay">
        <v-icon class="icon">mdi-plus-circle</v-icon>
      </div>
    </v-img>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FoursquareCard',
  props: {
    title: String,
    pictureUrl: String
  },

  methods: {}
});
</script>

<style lang="scss" scoped>
.v-card {
  height: 100px;
  position: relative;
  box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.43);
  transition: all 200ms ease;
  .v-image {
    height: 100px;
  }
  .card-overlay {
    transition: opacity 200ms ease;
    visibility: hidden;
    opacity: 0;
    height: 0;

    cursor: pointer;
    .icon {
      visibility: hidden;
      opacity: 0;
    }
  }
  &:hover {
    box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.4);
    .card-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-content: center;
      justify-content: center;
      height: auto;
      visibility: visible;
      opacity: 1;
      background: fade-out($color: $color-primary, $amount: 0.9);
      .icon {
        color: fade-out($color: $color-primary, $amount: 0.8);
        border: 0;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
</style>
