<template>
  <div>
    <v-row>
      <v-col>
        <FoursquareCard title="test" />
      </v-col>
      <v-col>
        <v-card color="grey lighten-1" class="pa-2" height="100px" tile outlined></v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card color="grey lighten-1" class="pa-2" height="100px" tile outlined></v-card>
      </v-col>
      <v-col>
        <v-card color="grey lighten-1" class="pa-2" height="100px" tile outlined></v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FoursquareCard from './FoursquareCard.vue';
import { mapActions } from 'vuex';
import { ActionTypes } from '@/store/actions';

export default Vue.extend({
  name: 'FoursquareCards',
  components: {
    FoursquareCard
  },
  mounted: function() {
    console.log("mounted");
    
    this.fetchFoursquare("Prague");
  },
  methods: {
    ...mapActions({
      fetchFoursquare: ActionTypes.FETCH_FOURSQUARE
    })
  }
});
</script>
