﻿a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#mainContainer {
  padding-top: 80px;
}

#mainNav.navbar-shrink .nav-link {
  margin-top: 0.3rem;
}

.nav-link.btn {
  padding: 1.5rem 1.5rem 1.25rem;
}

@media (max-width: 634px) {
  .nav-link.btn {
    padding: 1rem 1rem 0.75rem;
  }
}
