.plans_user-icon {
    max-width: 5em;
}

.react-tags__suggestions {
    z-index: 999;
}

.help {
    position: fixed;
    right: -2px;
    top: 10rem;
    background-color: #64a19d;
    padding: 8px 14px 8px 12px;
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    width: 40px;
    height: 80px;
}

.help:hover {
    -webkit-box-shadow: 0 0 35px 2px rgba(0,0,0,.24);
    -moz-box-shadow: 0 0 35px 2px rgba(0,0,0,.24);
    box-shadow: 0 0 35px 2px rgba(0,0,0,.24);
    right: 0;
}

.help__icon {
    position: absolute;
    bottom: 10px;
}

.help__icon img {
    width: 12px;
}

.help__text {
    transform: rotate(270deg);
    position: relative;
    top: 20px;
    font-size: 13px;
}

.react-tags {
    border-radius: 5px;
}

.react-tags__search {
    padding: 3px 2px;
}

.react-tags__selected-tag {
    padding: 2px 4px;
    background: #cfe2e1;
}

.plan-icons span {
    margin-right: 10px;
}